*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 50%;
}
@media (max-width: 400px){
  html{
    font-size: 20%;
  }
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  border: 1px solid #000;
  padding: 6rem 4rem;
  width: 70rem;
  text-align: center;
  background: linear-gradient(45deg, #A8FF78, #78FFD6);
  border-radius: 5rem;
  color: #fff;
}
.searchbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  padding: 3rem 5rem;
  width: 45rem;
  border: none;
  border-radius: 5rem;
  font-size: 4rem;
  outline: none;
  color: #696969;
}
img{
  height: 50rem;
}
button{
  width: 11rem;
  height: 11rem;
  font-size: 6rem;
  border: none;
  background: #fff;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city__temp{
  font-size: 14rem;
}
.city__name{
  font-size: 10rem;
}
.weather__nature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10;
}
.weather__nature--primary{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.humidity__logo, .wind__logo{
  font-size: 13rem;
}
.nature__info h2{
  font-size: 5rem;
}
.nature__info p{
  font-size: 3rem;
}
.error{
  text-align: left;
  padding: 2rem ;
  font-size: 4rem;
  color: #000;
  display : none;
}
.details{
  display: none;
}
